<div>
  <header class="manage-header">
    <span class="display-inline-block">用例管理列表</span>
    <button class="add-button pull-right" type="button" [routerLink]="['/addcase']">新增用例</button>
    <div class="clear-both"></div>
  </header>
  <section class="test-case-manage-section">
    <header class="test-case-manage-filter">
      <span class="select-title">创建人:</span>
      <p-dropdown [options]="cteators" name="cteator" [(ngModel)]="cteator" [style]="{'width':'70px'}" (onChange)="onFilter()"></p-dropdown>
      <span class="select-title">更新人:</span>
      <p-dropdown [options]="updators" name="updator" [(ngModel)]="updator" [style]="{'width':'70px'}" (onChange)="onFilter()"></p-dropdown>
      <span class="select-title">分类:</span>
      <p-dropdown [options]="sorts" name="sort" [(ngModel)]="sort" [style]="{'width':'90px'}" (onChange)="onFilter()"></p-dropdown>
      <span class="select-title">状态:</span>
      <p-dropdown [options]="states" name="state" [(ngModel)]="state" [style]="{'width':'60px'}" (onChange)="onFilter()"></p-dropdown>
      <search-input class="pull-right" [searchText]="searchText" (search)="onSearch($event)"></search-input>
      <p-calendar class="margin-right-40 pull-right" [selectionMode]="'range'" [(ngModel)]="updateDate" dateFormat="yy/mm/dd" showButtonBar="true"
        showIcon="true" placeholder="请选择时间过滤" (onSelect)="onFilter()" (onClearClick)="onFilter()"></p-calendar>
    </header>
    <section class="test-case-table">
      <p-dataTable #dataTable [value]="testCases" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]">
        <p-column [style]="{'width':'30px'}" selectionMode="multiple"></p-column>
        <p-column [style]="{'width':'50px'}" field="num" header="编号">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <span class="table-cell">{{row[col.field]}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'15%'}" field="caseName" header="用例名称">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <div class="width-100 over-flow-ellipsis">
                <span>{{row[col.field]}}</span>
              </div>
            </ng-template>
          </p-column>
        <p-column [style]="{'width':'15%'}" field="apiName" header="接口名称">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <div class="width-100 over-flow-ellipsis">
              <span>{{row[col.field]}}</span>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'8%'}" field="state" header="用例状态">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <div class="width-100 over-flow-ellipsis">
                <span>{{row[col.field]}}</span>
              </div>
            </ng-template>
          </p-column>
        <p-column [style]="{'width':'8%'}" field="creator" header="创建人">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <div class="width-100 over-flow-ellipsis">
              <span>{{row[col.field]}}</span>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'8%'}" field="updator" header="更新人">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <div class="width-100 over-flow-ellipsis">
              <span>{{row[col.field]}}</span>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'12%'}" field="updateTime" header="更新时间">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <div class="width-100 over-flow-ellipsis">
              <span>{{row[col.field]}}</span>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" header="操作">
          <ng-template let-col let-row="rowData" let-index="rowIndex" pTemplate="body">
            <a href="javascript:void(0);">编辑</a>&nbsp;
            <a href="javascript:void(0);" class="copy-font">复制</a>&nbsp;
            <a href="javascript:void(0);" class="delete-font" (click)="deleteCase(index)">删除</a>
          </ng-template>
        </p-column>
      </p-dataTable>
    </section>
  </section>
</div>
