.table-content {
  margin: 10px 20px;
}

.parameter-name {
  width: 15%;
}

.parameter-type {
  width: 10%;
  float: left;
  margin: 5px 10px 5px 0;
}

.parameter-desc {
  width: calc(50% - 160px);
}

.parameter-operation {
  width: 110px;
  text-align: center;
}
