.table-content {
  margin: 10px;
}

.parameter-name {
  width: 15%;
}

.parameter-type {
  width: 10%;
  float: left;
  margin: 5px 10px 5px 0;
}

.parameter-desc {
  width: calc(50% - 160px);
}

.parameter-operation {
  width: 110px;
  text-align: center;
}

.table-content-border {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
  margin: 0 -5px 0 3px;
  padding: 5px 10px 6px 10px;
  border-top-left-radius: 0;
}
