.search-component {
  position: relative;
}

.search-icon-position {
  color: #999;
  position: absolute;
  top: 9px;
  right: 5px;
}

.clear-icon-position {
  color: #999;
  position: absolute;
  top: 9px;
  right: 20px;
}
