.add-case-content {
  min-height: 500px;
}

.url-label {
  width: 12%;
}

.run-case-button {
  position: absolute;
  top: -9px;
  right: 2px;
}

.header-body-content {
  margin: 30px 20px 0 13px;
  position: relative;
}

.run-environment-position {
  position: absolute;
  top: -15px;
  right: 50px;
}

.url-and-params-box {
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 20px;
}