<div class="add-case-content">
  <header class="manage-header">
    <span>新建接口</span>
  </header>
  <section>
    <header class="manage-second-header">
      <span>基本信息</span>
    </header>
    <form class="add-form">
      <div class="col-md-6 col-sm-6 col-xs-12 form-group">
        <label class="col-sm-3">
          <span class="require-style">接口名称：</span>
        </label>
        <span class="ui-float-label col-sm-9">
          <input type="text" pInputText [(ngModel)]="apiName" name="apiName" id="apiName">
          <label for="apiName">请输入接口名称</label>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group">
        <label class="col-sm-3">
          <span>接口描述：</span>
        </label>
        <span class="ui-float-label col-sm-9">
          <input type="text" pInputText [(ngModel)]="apiDescription" name="apiDescription" id="apiDescription">
          <label for="apiDescription">请输入接口描述</label>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group">
        <label class="col-sm-3">
          <span class="require-style">接口方法：</span>
        </label>
        <p-dropdown class="col-sm-9" [options]="apiMethods" name="apiMethod" [(ngModel)]="apiMethod" [style]="{'width':'100%'}"></p-dropdown>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group">
        <label class="col-sm-3">
          <span class="require-style">域：</span>
        </label>
        <p-dropdown class="col-sm-9" [options]="regions" name="region" [(ngModel)]="region" [style]="{'width':'100%'}" (onChange)="changeRegion($event)"></p-dropdown>
      </div>
      <div class="clear-both"></div>
      <div class="url-and-params-box">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
          <label class="col-sm-3 url-label">
            <span>URL：</span>
          </label>
          <span class="ui-float-label col-sm-9">
            <input type="text" pInputText [(ngModel)]="apiUrl" name="apiUrl" id="apiUrl" (blur)="getParamInApiName()">
            <label for="apiUrl">请输入URL</label>
          </span>
        </div>
        <div class="clear-both"></div>
        <api-param *ngIf="urlParams?.length!==0" [params]="urlParams"></api-param>
      </div>
      <div id="headerBodyContent" class="header-body-content">
        <p-tabView #tabView [activeIndex]="activeIndex">
          <p-tabPanel header="Header">
            <header-param [jsonStr]="jsonHeader"></header-param>
          </p-tabPanel>
          <p-tabPanel header="Body">
            <json-list [jsonStr]="jsonBody"></json-list>
          </p-tabPanel>
          <p-tabPanel *ngIf="isShowResponse" header="Response">
            <json-list [jsonStr]="jsonResponse" [isShowResult]="true" [isReultFalse]="true"></json-list>
          </p-tabPanel>
        </p-tabView>
        <div class="col-md-7 col-sm-7 col-xs-12 form-group run-environment-position">
          <label class="col-sm-3">
            <span class="require-style">运行环境：</span>
          </label>
          <span class="ui-float-label col-sm-9">
            <input type="text" pInputText [(ngModel)]="apiAddress" name="apiAddress" id="apiAddress">
            <label for="apiName">请输入运行环境地址</label>
          </span>
        </div>
        <button class="add-button run-api-button" type="button" (click)="runApi()">运行</button>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 form-group text-align-center">
        <button *ngIf="isShowResponse" class="add-button" type="button" [routerLink]="['/apimanage']">保存</button>&nbsp;&nbsp;
        <button class="add-button" type="button" [routerLink]="['/apimanage']">返回</button>
      </div>
      <div class="clear-both"></div>
    </form>
  </section>
</div>
