.add-case-content {
  min-height: 500px;
}

.url-label {
  width: 12%;
}

.run-api-button {
  position: absolute;
  top: -9px;
  right: 2px;
}

.header-body-content {
  margin: 20px 20px 0 13px;
  position: relative;
}

.run-environment-position {
  position: absolute;
  top: -15px;
  right: 50px;
}
