<textarea class="api-textarea" name="jsonHeader" id="jsonHeader" cols="30" rows="10" [(ngModel)]="jsonStr" (blur)="getParams()"></textarea>
<div *ngIf="params?.length!==0" class="table-content">
  <div class="table-row">
    <div class="parameter-td parameter-name">字段名称</div>
    <div class="parameter-td parameter-method">方法</div>
    <div class="parameter-td parameter-param">参数</div>
    <div class="parameter-td parameter-operation margin-right-0">操作</div>
    <div class="clear-both"></div>
  </div>
  <div class="table-row" *ngFor="let param of params;let i = index;">
    <input class="parameter-td parameter-name" [title]="param?.name" name="paramName{{i}}" [(ngModel)]="param.name">
    <div class="parameter-method" [title]="param?.method">
      <p-dropdown [options]="methods" name="paramMethods{{i}}" [(ngModel)]="param.method" [style]="{'width':'100%','height':'30px'}"></p-dropdown>
    </div>
    <input class="parameter-td parameter-param" [title]="param?.param" name="paramParam{{i}}" [(ngModel)]="param.param">
    <div class="parameter-td parameter-operation margin-right-0">
      <a href="javascript:void(0);" (click)="operateUrlParam('add', i)">添加</a>&nbsp;
      <a href="javascript:void(0);" class="delete-font" (click)="operateUrlParam('delete', i)">删除</a>
    </div>
    <div class="clear-both"></div>
  </div>
</div>
