.test-case-manage-header {
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  .add-test-case-button {
    height: 32px;
    line-height: 22px;
    background-color: rgba(20, 188, 182, 1);
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    outline: none;
    padding: 5px 20px;
    border: none;
    margin-top: 12px;
  }
}

.test-case-manage-section {
  padding: 20px;
  min-height: 343px;
  .select-title {
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
  }
  .manage-search {
    width: 140px;
    margin-left: 20px;
    margin-top: -4px;
  }
  .search-manage-position {
    position: absolute;
    right: 7px;
    top: 9px;
  }
  .data-table {
    width: 100%;
    margin-top: 20px;
    .data-table-header,
    .data-table-row {
      width: 100%;
      height: 40px;
      line-height: 40px;
    }
    .data-table-header {
      background-color: rgba(242, 242, 242, 1);
      border-bottom: 2px solid #999;
    }
    .data-table-row {
      border-bottom: 1px solid #ccc;
    }
    .data-table-row:hover {
      background-color: rgba(242, 242, 242, 1);
    }
    .data-table-header-num {
      height: 40px;
      width: 5%;
      text-align: center;
      margin-right: 0.5%;
    }
    .data-table-header-name {
      height: 40px;
      width: 15%;
      margin-right: 0.5%;
    }
    .data-table-header-state {
      height: 40px;
      width: 10%;
      margin-right: 0.5%;
    }
    .font-size-16 {
      font-size: 16px;
    }
  }
}

.test-case-manage-filter {
  height: 30px;
  position: relative;
}

.test-case-table {
  margin-top: 20px;
}
